.sidebar{
  flex-shrink: 0;
  width: 270px;
  background-color: var(--sidebar-color);
  border-right: 1px solid var(--input-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 50px 0px 20px;

  &--hide{
    width: 0;
    padding: 0;
  }
  &__new-chat-button{
    cursor: pointer;
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 6px;
  }
}